{
  "globals": {
    "driver": true,
    "By": true,
    "until": true
  },
  "rules": {
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          "selenium-webdriver"
        ]
      }
    ],
    "no-restricted-modules": [
      "error",
      {
        "paths": [
          "selenium-webdriver"
        ]
      }
    ]
  }
}
