@import "../styles/screen-sizes";

.credit-card-form {
  $margin: 1rem;

  margin: 0;
  padding: 0;

  &__card-number, &__expiration-date, &__cvv {
    margin-bottom: $margin;
  }

  &__button {
    text-align: center;
  }

  @include screen-min-small {

    display: grid;
    grid-gap: $margin;

    grid-template-areas:
      "card-number card-number"
      "expiration-date cvv"
      "button button";
    grid-template-columns: 1fr 1fr;

    &__card-number, &__expiration-date, &__cvv {
      margin-bottom: 0;
    }

    &__card-number {
      grid-area: card-number;
    }

    &__expiration-date {
      grid-area: expiration-date;
    }

    &__cvv {
      grid-area: cvv;
    }

    &__button {
      grid-area: button;
    }

  }

}
