@import "../styles/colors";

.order-summary {
  $margin: 0.5rem;

  padding: $margin;

  &__details {
    display: block;

    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    align-items: baseline;

    margin: 0;
    padding: 0;

    list-style-type: none;

    font-size: 1rem;

    &-label {

      margin: $margin;
    }

    &-cancel {
      display: block;

      margin: $margin;

      color: inherit;
      text-decoration: none;
    }

    &-price {
      display: block;
      flex: 1 0;

      margin: $margin;

      text-align: right;
    }

  }

  &__total {
    display: flex;

    margin: 0;
    padding: 0;

    font-size: 1.3rem;

    &-label {
      flex: 1 0;

      margin: $margin;

      font-weight: bold;
    }

    &-price {
      margin: $margin;
    }

  }

  &__separator {
    margin: $margin;

    border-top: 1px solid $border-default-color;
  }

}
