.payment-form {
  $margin: 1rem;

  margin: 0;
  padding: 0;

  display: grid;
  grid-gap: $margin;

  grid-template-areas: "card-number card-number" "expiration-date cvv" "button button";
  grid-template-columns: 1fr 1fr;

  &__line {
    &--card-number {
      grid-area: card-number;
    }

    &--expiration-date {
      grid-area: expiration-date;
    }

    &--cvv {
      grid-area: cvv;
    }

    &--button {
      grid-area: button;
      margin-top: $margin;
      text-align: center;
    }

  }

}
