.payment-form {
  $margin: 1rem;

  &__select-mean, &__means, &__credit-card-form {
    margin: $margin 0;
  }

  &__select-mean {
    margin-top: 0;
    text-align: center;
  }

  &__means {
    margin: $margin;
  }

  &__credit-card-form {
    margin-bottom: 0;
  }

}
