@import "../styles/_screen-sizes";

.registred-credit-card {
  $margin: 1rem;
  $border-color: #BBB;

  &__title {
    margin: $margin;
    padding-bottom: $margin;
    font-size: 1.4rem;
    border-bottom: $border-color solid 1px;
  }

  &__details-line {
    margin: $margin;
    font-size: 1rem;
  }

  &__select {
    margin: $margin;
    text-align: center;
  }

  @include screen-min-small {

    &__details-container {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;

      margin-top: -$margin;
    }

    &__details {
      flex: 1 0;
    }

    &__select {
      margin-right: $margin;
    }

  }

  &__cvv-container {
    margin: $margin;
  }

  &__cvv {
    margin: 0 auto;
    max-width: 20rem;
  }

}
