{
  "root": true,
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-hooks",
    "jest",
    "compat",
    "formatjs",
    "emotion"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "polyfills": [
      "URLSearchParams",
      "ResizeObserver",
      "Promise",
      "Object.entries",
      "Math.trunc"
    ]
  },
  "globals": {
    "process": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jest/recommended",
    "plugin:compat/recommended"
  ],
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true
      }
    ],
    "no-console": "warn",
    "formatjs/enforce-description": "warn",
    "formatjs/enforce-placeholders": "error",
    "compat/compat": "warn",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  }
}
