{
  "root": true,
  "env": {
    "commonjs": true,
    "es2020": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "polyfills": [
      "URLSearchParams",
      "ResizeObserver",
      "Promise",
      "Object.entries",
      "Math.trunc",
      "fetch"
    ]
  },
  "globals": {
    "process": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jest/recommended",
    "plugin:compat/recommended"
  ],
  "plugins": [
    "formatjs",
    "emotion"
  ],
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true
      }
    ],
    "no-console": "warn",
    "formatjs/enforce-description": "warn",
    "formatjs/enforce-placeholders": "error",
    "compat/compat": "warn",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  },
  "overrides": [
    {
      "files": ["*.stories.js", "*.stories.jsx", "*.stories.ts", "*.stories.tsx"],
      "rules": {
        "react/prop-types": "off"
      }
    },
    {
      "files": ["*.test.js", "*.test.jsx", "*.test.ts", "*.test.tsx"],
      "env": {
        "node": true
      }
    }
  ]
}
