@import './led';

.level-indicator {
  // Supprimer les marges autour des LED (pour display inline-block)
  font-size: 0;

  &__led {
    display: inline-block;

    margin-right: $led-inter-space;

    &:last-child {
      margin-right: 0;
    }

  }

}
