@import "../styles/screen-sizes";

.calendar {
  margin: 0;
  padding: 0;

  border-collapse: collapse;

  font-size: 0.8rem;
  color: black;

  @include screen-min-small {
    font-size: 1rem;
  }

  &__week-day, &__day {
    padding: 0.5rem;
    text-align: center;
  }

  &__week-day-abbr {
    text-decoration: none;
  }

  &__week-days {
    font-weight: bold;
  }

  &__day {
    border: 1px solid #999;
    color: #999;

    &--current-month {
      color: black;
    }

    &--selectable {
      cursor: pointer;

      &:hover, &:focus {
        background-color: lightgreen;
        color: black;
      }
    }

    &--disabled {
      background-color: #EEE;
      color: #999;
    }

    &--selected {
      background-color: darkblue;
      color: white;

      &:hover, &:focus {
        background-color: darkblue;
        color: white;
      }
    }

  }

}
