.date-picker {
  font-family: sans-serif;

  &__date, &__selector, &__calendar-container {
    margin: 0.5rem 0;
    padding: 0;

    text-align: center;
  }

  &__date {
    margin-top: 0;

    font-size: 1rem;
  }

  &__selector {
    display: block;
  }

  &__calendar-container {
    margin-bottom: 0;
  }

  &__calendar {
    margin: 0 auto;
  }
}
