.date-picker {
  // font-family: sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  &__calendar-container {
    margin: 0 1rem;
  }

  &__date {
    margin: 0;
    // margin-bottom: 0.5rem;
    padding: 0;
    padding-bottom: 0.5rem;

    border-bottom: #999 solid 1px;

    font-size: 1.2rem;

    text-align: center;
  }

}
