.heated-seat-button {
  $space: 5px;
  $size: 60px;

  display: grid;
  grid-gap: $space;
  justify-items: center;
  align-items: center;
  grid-template-rows: 10px auto 10px;

  width: $size;
  height: $size;

  background: #000;

  padding: $space;

  &__title {
    text-align: center;
    color: #FFF;
    font-weight: bold;
    font-size: 0.8rem;
  }
}
