.form-date-input {
  $color: black;
  $border-color: #eee;
  $bottom-border-color: darken($border-color, 20%);
  $border-width: 1px;
  $border-bottom-width: 3px;
  $background-color: white;

  $error-border-color: red;

  $disabled-background-color: lighten($border-color, 5%);
  $disabled-color: lighten($color, 60%);

  $focus-border-color: darken($border-color, 40%);

  $placeholder-color: lighten($color, 70%);

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: block;

  background-color: $background-color;

  border: $border-width solid $border-color;
  border-bottom: $border-bottom-width solid $bottom-border-color;

  transition: border-color 0.2s ease-in;

  &__input {
    display: inline-block;
    margin: 0;
    padding: 0.5rem;
    border: 0;

    background-color: transparent;

    font-size: 1rem;
    color: $color;
    text-align: center;

    &--day,
    &--month {
      width: 3rem;
    }

    &--year {
      width: 4rem;
    }

    &--year-small {
      width: 3rem;
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      transition: none;

      color: $disabled-color;
    }

    &::placeholder {
      color: $placeholder-color;
      font-style: italic;
    }
  }

  &__input-separator {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0.5rem;
    border: 0;

    background-color: transparent;

    font-size: 1rem;
    color: $placeholder-color;
    text-align: center;
  }

  // Bien respecter l'ordre des classes pour un affichage correct
  // des différents états

  &--focus {
    border-color: $focus-border-color;
  }

  &--error {
    border-bottom-color: $error-border-color;
  }

  &--read-only {
    transition: none;

    border-color: $border-color;
  }

  &--disabled {
    transition: none;

    background-color: $disabled-background-color;
    border-color: $border-color;
  }
}
