.form-field-container {
  $margin: 0.5rem;

  &__label {
    display: block;
    margin: 0;
    margin-bottom: $margin;
  }

  &__help {
    display: block;

    margin: 0;
    margin-top: $margin;
    margin-bottom: $margin;

    font-size: 1rem;
    color: grey;
  }

  &__error {
    margin: 0;
    margin-top: $margin;
  }
}
