.form-input-field {
  $color: black;
  $border-color: #eee;
  $bottom-border-color: darken($border-color, 20%);
  $border-width: 1px;
  $border-bottom-width: 3px;
  $background-color: white;

  $error-border-color: red;

  $disabled-background-color: lighten($border-color, 5%);
  $disabled-color: lighten($color, 60%);

  $focus-border-color: darken($border-color, 40%);

  $placeholder-color: lighten($color, 70%);

  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0.5rem;

  background-color: $background-color;

  font-size: 1rem;
  color: $color;

  border: $border-width solid $border-color;
  border-bottom-color: $bottom-border-color;
  border-bottom-width: $border-bottom-width;

  transition: border-color 0.2s ease-in;

  &:focus {
    outline: none;
    border-color: $focus-border-color;
  }

  &:disabled {
    transition: none;

    background-color: $disabled-background-color;
    color: $disabled-color;
    border-color: $border-color;

    &:focus {
      border-color: $border-color;
    }
  }

  // stylelint-disable-next-line no-descending-specificity
  &:read-only {
    transition: none;

    border-color: $border-color;

    &:focus {
      border-color: $border-color;
    }
  }

  &::placeholder {
    color: $placeholder-color;
    font-style: italic;
  }

  &--error {
    border-bottom-color: $error-border-color;

    &:focus {
      border-bottom-color: $error-border-color;
    }
  }
}
