// See http://www.carbondesignsystem.com/style/layer/overview

$layer-shadow-color: rgba(0, 0, 0, 0.2);

%layer-base {
  box-shadow: none;
}

%layer-raised {
  box-shadow: 0 1px 2px 0 $layer-shadow-color;
}

%layer-overlay {
  box-shadow: 0 4px 8px 0 $layer-shadow-color;
}

%layer-sticky-nav {
  box-shadow: 0 6px 12px 0 $layer-shadow-color;
}

%layer-temp-nav {
  box-shadow: 0 8px 16px 0 $layer-shadow-color;
}

%layer-pop-out {
  box-shadow: 0 12px 24px 0 $layer-shadow-color;
}

@mixin layers {
  &--layer-base {
    @extend %layer-base;
  }
  &--layer-raised {
    @extend %layer-raised;
  }
  &--layer-overlay {
    @extend %layer-overlay;
  }
  &--layer-sticky-nav {
    @extend %layer-sticky-nav;
  }
  &--layer-temp-nav {
    @extend %layer-temp-nav;
  }
  &--layer-pop-out {
    @extend %layer-pop-out;
  }
}
