.age-or-birth-date {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  &__age {
    flex-grow: 1;
  }

  &__separator {
    flex-grow: 0;

    margin: calc(3px + 0.5rem) 2rem;

    &::before {
      content: "\2014\00a0";
    }
    &::after {
      content: "\00a0\2014";
    }
  }

  &__birthdate {
    flex-grow: 1;
  }
}
