@import "./_layers.scss";


.card {

  $background-color: white;

  border: 1px solid #BBB;

  background-color: $background-color;

  &--has-rounded-border {
    border-radius: 5px;
  }

  @include layers;

}
