@import "./_layers.scss";


.card {

  $background-color: white;

  border: 1px solid #BBB;

  background-color: $background-color;

  &--has-rounded-border {
    border-radius: 5px;
  }

  &--clickable {
    cursor: pointer;

    transition: background-color 0.2s ease-in;

    &:hover {
      background-color: darken($background-color, 10%);
    }

  }

  @include layers;

}
