@import "~normalize.css";

.date-input {
  border: none;
  margin: 0;
  padding: 0;
  display: inline;

  &__input {

    &_day, &_month {
      width: 4em;
    }

    &_year {
      width: 8em;
    }

    &::placeholder {
      color: lightgray;
    }

  }

}
