.donation {
  $margin: 1rem;

  &__question {
    margin: $margin;
  }

  &__add-button {
    padding: $margin;
    width: 100%;
  }

  &__selection {
    margin: $margin;

    &-thanks, &-cancel {
      margin: $margin 0;
    }

    &-cancel-button {
      display: block;
      margin: 0 auto;
    }

  }

}
