.donation {
  $margin: 1rem;

  &__proposal {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &-logo {
      margin: $margin;
      margin-right: 0;
      flex: 0 0 2.5rem;
    }

    &-punchline {
      h3, p {
        margin: $margin;
      }
    }

    &-donate-button {
      margin-top: 0;
      text-align: center;
    }
  }

  &__question {
    margin: $margin;
  }

  &__add-button {
    padding: $margin;
    width: 100%;
  }

  &__selection {
    margin: $margin;

    &-thanks, &-cancel {
      margin: $margin 0;
    }

    &-cancel-button {
      display: block;
      margin: 0 auto;
    }

  }

}
