@import "./styles/_colors";

.expandable-card {

  $background-color: #EEE;
  $border-color: $border-default-color;

  &__expandable {

    // Fix for content margins...
    border: 0.01rem solid transparent;
    background-clip: border-box;

    background-color: $background-color;
    background-image: linear-gradient(
      $border-color 1px,
      darken($background-color, 5%),
      $background-color 10px,
      $background-color
      );
  }

  &__fold-button {
    display: block;
    width: 100%;
    font-size: 0.8rem;
    padding: 0.3rem;

    background-color: darken($background-color, 3%);

    &:hover {
      background-color: darken($background-color, 10%);
    }

  }

}
