.form-field-container {
  $margin: 0.5rem;

  &__label {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: $margin;

    font-size: 1rem;
    color: black;
    font-weight: bold;
  }

  &__error {
    display: block;

    margin: 0;
    padding: 0;
    margin-top: $margin;

    font-size: 1rem;
    color: red;
    font-weight: bold;
  }

  &__help {
    display: block;

    margin: 0;
    padding: 0;
    margin-top: $margin;

    font-size: 0.8rem;
    color: grey;
  }

}
