.flippable {
  $duration: 0.5s;
  $height: 200px;

  transform-style: preserve-3d;
  transition: transform $duration linear;

  box-sizing: content-box;
  position: relative;
  height: $height;
  // width: 100%;

  &--flipped {
    transform: rotateY(180deg);
  }

  &__face {
    backface-visibility: hidden;

    &--background {
      transform: rotateY(180deg);
    }

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: $height;
  }
}
