.input-with-floating-label {
  position: relative;

  display: inline-block;

  &__label,
  &__input {
    box-sizing: border-box;

    font: inherit;
  }

  $horizontal-padding: 10px;
  $vertical-padding: $horizontal-padding;
  $float-scale: 0.75;

  $normal-color: #999;
  $focus-color: purple;

  &__label {
    position: absolute;

    max-width: 100%;

    padding: $vertical-padding $horizontal-padding 0 $horizontal-padding;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    background-color: transparent;

    pointer-events: none;

    transform-origin: left top;

    color: $normal-color;

    $duration: 0.25s;
    transition: transform $duration, background-color $duration, padding $duration;

    &--float {
      transform: translateY(-9px) translateX($horizontal-padding) scale($float-scale);

      max-width: calc(#{100% / $float-scale} - #{(2 * $horizontal-padding) / $float-scale});

      background-color: white;
      padding: 0 $horizontal-padding;
    }

    &--focus {
      color: $focus-color;
    }
  }

  &__input {
    width: 100%;

    padding: $vertical-padding $horizontal-padding;

    border: 1px solid $normal-color;
    border-radius: 3px;

    &:focus {
      outline: none;

      border-color: $focus-color;
    }
  }
}
