.night-mode {
  --background-color: white;
  --color: black;

  background-color: var(--background-color);
  color: var(--color);

  &--enabled {
    --background-color: #222;
    --color: #ddd;
  }

  &__switcher {
    font-size: 1.2rem;
    padding: 0.2rem 1.5rem;
  }
}
