.night-mode {
  --background-color: white;
  --color: black;

  background-color: var(--background-color);
  color: var(--color);

  &--enabled {
    --background-color: #111;
    --color: #DDD;
  }

}
