@mixin payment-container-large-screen {
  @media only screen and (min-width: 1000px) {
    @content;
  }
}

.payment-container {
  $margin: 1rem;

  display: grid;
  grid-gap: $margin;

  margin: 0 auto;

  max-width: 750px;

  @include payment-container-large-screen {
    grid-template-columns: 1.2fr 2fr;

    max-width: 1200px;
  }

  &__left {

  }

  &__right {

  }

  &__voucher-form, &__donation {
    margin-top: $margin;
  }

}
