.price {
  $base-color: black;

  font-size: 1em;
  color: $base-color;

  &__remaining {
    font-size: 0.8em;
    color: lighten($base-color, 30%);
  }

  &--no-color {
    color: inherit;

    .price {
      &__remaining {
        color: inherit;
      }
    }
  }
}
