.progress-button {
  position: relative;
  overflow: hidden;

  &__progress-bar {
    background-color: lighten(lightblue, 10%);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0%;
    opacity: 0;
    transition-property: width;

    &--loading {
      opacity: 1;
      width: 90%;
      transition-duration: 10s;
    }

    &--finished {
      opacity: 1;
      width: 100%;
      transition-duration: 0.2s;
    }

  }

}
