$baseBackgroundColor: lightgreen;
$baseBorderColor: darkgray;
$margin: 10px;


.super-radio {
  margin: $margin;
  background-color: $baseBackgroundColor;
  border-radius: 7px;
  border: 2px $baseBorderColor solid;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  &_checked {
    background-color: darken($baseBackgroundColor, 10%);
    box-shadow: 0 3px 10px lighten($baseBorderColor, 10%);
    border-color: darken($baseBorderColor, 20%);
  }

  &__radio-element {
    margin: auto 0 auto $margin;
  }

  &__icon {
    margin: auto 0 auto $margin;
  }

  &__label-element {
    margin: auto 0;
  }

  &__label-title {
    margin: $margin;
    font-weight: bold;
  }

  &__label-description {
    margin: $margin;
  }

}

