@import "~normalize.css";

$baseBackgroundColor: lightgreen;
$baseBorderColor: darkgray;
$baseMargin: 12px;
$borderBoxSize: 2px;
$borderRadius: 7px;
$descriptionMargin: -$baseMargin;

.super-radio {
  margin: $baseMargin;
  background-color: $baseBackgroundColor;
  border-radius: $borderRadius;
  border: $borderBoxSize $baseBorderColor solid;
  font-family: sans-serif;

  &_checked {
    background-color: darken($baseBackgroundColor, 10%);
    //box-shadow: 0 3px 10px lighten($baseBorderColor, 10%);
    //border-color: darken($baseBorderColor, 20%);
  }

  /*
  &:first-child:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0;
  }

  &:not(:first-child):not(:last-child) {
    border-radius: 0;
    border-bottom-width: 0;
    border-top-width: 1px;
  }

  &:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 1px;
  }
  */

  &__main-container {
    padding: $baseMargin;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }

  &__radio-element {
    margin-right: $baseMargin;
    flex-grow: 0;
  }

  &__icon {
    margin-right: $baseMargin;
    flex-grow: 0;
  }

  &__description {
    // top | right | bottom | left
    margin: $descriptionMargin 0 $descriptionMargin $descriptionMargin;
    flex-grow: 1;
  }

  &__description-title {
    margin: 10px;
    margin-right: 0;
    font-weight: bold;
    font-size: 1.1rem;
  }

  &__description-description {
    margin: 10px;
    margin-left: $baseMargin;
  }

  &__help {
      // top | right | bottom | left
      margin: $descriptionMargin 0 $descriptionMargin $descriptionMargin;
      flex-grow: 0;
  }

  &__help-link {
    cursor: pointer;
  }

  &__help-details {
    display: none;
    padding: $baseMargin;
    border-top: 1px $baseBorderColor solid;
    background-color: lightgrey;

    &_visible {
      display: block;
    }

  }

}

