.travel {

  $margin: 0.5rem;

  &__header {
    $font-size: 1.3rem;

    display: flex;
    align-items: baseline;

    &-title {
      flex: 1 0;
    }

    &-title, &-price {
      margin: $margin;
      padding: 0;

      font-size: $font-size;
    }

  }

  &__details {
    display: flex;
    align-items: baseline;

    margin-top: $margin / 2;

    &-date, &-passengers {
      margin: $margin;
      padding: 0;

      font-size: 1rem;
      font-weight: normal;
    }

  }

}
