.progress-button {
  $content-z-index: 10;

  position: relative;
  overflow: hidden;

  &__content {
    position: relative;
    z-index: $content-z-index;
  }

  &__progress-bar {
    background-color: lighten(lightblue, 10%);

    position: absolute;
    z-index: $content-z-index - 1;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0%;
    opacity: 0;
    transition-property: width;
    transition-timing-function: ease-out;

    &--loading {
      opacity: 1;
      width: 90%;
      transition-duration: 10s;
    }

    &--finished {
      opacity: 1;
      width: 100%;
      transition-duration: 0.2s;
    }
  }
}
