.auth-askpassword {
  $margin: 1rem;

  display: flex;
  flex-direction: row;

  &__password {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
  }

  &__password-label {
    flex-shrink: 1;
  }

  &__password-field {
    flex-grow: 1;

    max-width: 20rem;
    margin-left: $margin;
    margin-right: $margin;
  }

  &__password-validate-button {
    flex-shrink: 1;
  }

  &__cancel {
    flex-shrink: 1;

    margin-left: $margin;
  }
}
